<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Correspondencias</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/mails/mails.css">

    <link rel="manifest" href="/templates/mails/manifest.json">

    <script src="/static/js/mails/mails.js" defer></script>

    <link rel="icon" href="/static/imgs/logo/nerd-mails.png" type="image/png+xml">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="options">
            <button id="register" onclick="focuses('insert-container')">Cadastrar</button>
            <button id="data-base" onclick="focuses('db-container'); getCorrespondences()">Registros</button>
            <!-- <button id="reception" onclick="focuses('reception-container')">Saida da Recepção</button> -->
            <button id="shipment" onclick="focuses('ship-container')">Registrar Saida</button>
        </div>
        
        <h1>
            Sistema de Correspondencias
        </h1>
    </header>

    <main>
        <form class="container insert-container" id="insert-container" style="display: grid;">
            <h1 id="insert-message">Preencha os campos abaixo!</h1>

            <input id="ar_code" name="code" type="text" placeholder="Codigo AR" required>

            <input id="mail_name" name="name" type="text" placeholder="Nome que está na correspondencia" required>
            <input id="mail_fantasy" name="fantasy" type="text" placeholder="Nome fantasia ( caso exista )">


            <select id="mail_type" name="type" required>
                <option value="caixa">Caixa</option>
                <option value="carta">Carta</option>
                <option value="pacote">Pacote</option>
            </select>

            <select id="mail_priority" name="priority" required>
                <option value="simples">Simples</option>
                <option value="judicial">Judicial</option>
            </select>

            <select id="mail_status" name="status" required>
                <option value="on_reception">Na recepção</option>
                <option value="almox">No Almoxarifado</option>
                <option value="shipped">Entregue</option>
                <option value="returned">Devolvido</option>
            </select>

            <button class="submit" onclick="register()" type="button" id="submit">Registrar</button>
        </form>

        <div class="container db-container" id="db-container" style="display: none;">
            <div class="caption">
                <h1>🟡 Na recepção</h1>
                <h1>⚪ No almoxarifado / Entregue</h1>
                <h1>⚫ Devolvido</h1>
            </div>
            <div class="helpers">
                <input id="search_input" type="search" placeholder="Nome ou Codigo da Correspondencia!">
                <button id="search_button" onclick="getCorrespondences(document.getElementById('search_input').value)">Buscar</button>
            </div>
        </div>

        <div class="container" id="ship-container" style="display: none;">

            <form class="ship-container ship-almox" id="ship-almox" style="display: none;">
                <h1 id="reception-insert-message">Preencha os campos abaixo!</h1>

                <input id="mail_code" name="code" type="text" placeholder="Codigo AR" required>

                <select id="receiver_name" name="type" required>
                    <option value="kayro">Kayro</option>
                    <option value="guilherme">Guilherme</option>
                    <option value="gustavo">Gustavo</option>
                    <option value="other">Outro(a)</option>
                </select>

                <select id="sender_name" name="type" required>
                    <option value="yara">Yara</option>
                    <option value="lidia">Lidia</option>
                    <option value="other">Outro(a)</option>
                </select>

                <button class="submit" onclick="receivedOnReception()" type="button" id="reception-submit">Enviar</button>
            </form>
            <div class="ship-container ship-mall" id="ship-mall">
                <input type="file" id="file_input" style="display: none">
                <div id="image-container" class="image-container">
                    Clique para selecionar uma imagem!
                </div>
                <button class="submit" id="updateReceiver-button" onclick="updateReceiver()">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>